<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/javascript" src="sandbox.js"></script>
    <script type="text/javascript" src="services.js"></script>

    <style type="text/css"></style>
  </head>
  <body ng-app="MyApp" ng-controller="YourController as yourCtrl">
    <div >
      <input type="text" ng-model="yourCtrl.name" placeholder="Name">

      <input type="text" ng-model="yourCtrl.assignmentName" placeholder="Assignment Name">

      <input type="number" ng-model="yourCtrl.grade" placeholder="Grade/100">

      <button ng-click="yourCtrl.addAssignment(yourCtrl.name, yourCtrl.assignmentName, yourCtrl.grade)">Add</button>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h3>Assignments</h3>
        <div ng-repeat="assignment in yourCtrl.Assignments">
          <div>
            <span ng-bind="assignment.getassignmentName()"></span>
            <span ng-bind="assignment.getGrade()"></span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h4>Average:</h4> <span ng-bind="yourCtrl.AverageGrade"></span>

        <h4>Grade:</h4> <span ng-bind="yourCtrl.letterGrade"></span>

        <h4>Pass/Fail:</h4> <span ng-if="yourCtrl.letterGrade != 'F' && yourCtrl.letterGrade">Pass</span><span ng-if="yourCtrl.letterGrade == 'F'">Fail</span>
        
      </div>
    </div>

    <hr>


  </body>
</html>
